<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>学习助手</title>

    <!-- Bootstrap Core CSS -->
    <link href="__PUB__/startbootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="__PUB__/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="__PUB__/startbootstrap/dist/css/sb-admin-2.css" rel="stylesheet">

    <script src="__PUB__/startbootstrap/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="__PUB__/startbootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="__PUB__/startbootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="__PUB__/startbootstrap/dist/js/sb-admin-2.js"></script>
         <script src="__PUB__/sweetalert-master/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUB__/sweetalert-master/dist/sweetalert.css">
        <script src="__PUB__/sm/sm.js"></script>


</head>

<body>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default" style="width: 350px;margin-left:auto;margin-right: auto;">
                    <div class="panel-heading">
                        <h3 class="panel-title">登录</h3>
                    </div>

                    <input type="hidden"   id="login_index" value="{:U('Admin/Index/index')}">
                    <div class="panel-body">
                        <form role="form" id="form" method="post" action="{:U('Admin/Login/judge_login')}">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="邮箱" name="email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="密码" name="password" type="password" value="">
                                </div>
                                <div class="checkbox">

                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                          <div  align="center">  <button type="button" class="btn btn-primary" onclick="login()">点击登录</button></div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <input type="hidden" id="judge_login"  value="{:U('Admin/login/judge_login')}" >
    <!-- /#wrapper -->

    <!-- jQuery -->


</body>

</html>
